* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Calibri";
    font-size: 16pt;
    color: #555555;
}

nav {
    display: flex;
    background-color: #9bbabc;
    margin: auto 0;
    width: 100%;
    padding:20px;
    font-weight: bold;
    border-bottom: 5px solid #555555;
    float: left;
}

nav a {
    margin: auto;
    text-decoration: none;
}

nav a:hover {
    color: #f5f5f5;
    transform: scale(1.12);
    font-style: italic;
}

p {
    font-size: 16pt;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

input {
    width: 85%;
    height: 40px;
    /* padding: 12px 20px; */
    margin: 8px 15px 15px;
    box-sizing: border-box;
    border: 2px solid #9bbabc;
    border-radius: 10px;
    font-size: 15pt;
}

button  {
    background-color:#9bbabc;
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 5px;
    }

.table-wrapper {
    border-bottom: 2px solid #555555;
    border-top: 2px solid #555555;
    background-color: #9bbabc;
    }

h2  {
    text-align: center;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 20pt;
}

a {
    color: #555555;
    text-decoration: none;
    font-weight: 400;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    font-size: 14pt;
    text-align: center;
}

img {
    display: inline-block;
    margin: 0 auto;
    height: 100px;
    vertical-align: center;
}

ul {
    font-size: 12pt;
    font-weight: normal;
}

::placeholder {
    padding-left: 10px;
}

.carousel {
    border-bottom: 2px solid #9bbabc;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
}

.rowResults {
    font-size: 12pt;
    color: #555555;
    font-weight: 100;
}

.results {
    color: #555555;
    text-align: center;
    font-size: 12pt;
    padding-top: 30px;
    padding: 15px;
    font-weight: 100;
}

.library {
    padding: 50px;
    align-items: center;
}

.thElColumns {
    font-size: 16pt;
    font-weight: bold;
}

.tableEl {
    margin-top: 50;
    height: 150px;
}

.pageBreak {
    height: 50px;
    background-color: #f5f5f5;
}

.book-td {
    max-height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#searchBar {
    margin: auto;
    width: 90%;
    padding-top: 150px;
    padding-bottom: 50px;
}

#carousel-sci-fi {
    border-top: 2px solid #9bbabc;
}

#search-bar-wrapper {
    margin: auto;
    width: 90%;
    padding-top: 175px;
    padding-bottom: 25px;
}

.book-info-row {
    padding-bottom: 20px;
    border-bottom: 2px solid #555555;
}