* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Calibri";
    font-size: 16pt;
    color: #555555;
}

nav {
    display: flex;
    text-align: justify;
    background-color: #9bbabc;
    width: 100%;
    padding:20px;
    font-weight: 250;
    border-bottom: 5px solid #555555;
}

h1  {
    text-align: center;
    font-size: 24pt;
    padding-top: 50px;
}

h2  {
    padding-top: 35px;
    text-align: center;
}

a {
    color: #555555;
    text-decoration: none;
    font-weight: 400;
}

nav a {
    margin: 0 auto;
    text-decoration: none;
}

table {
    table-layout: flex;
    width: 100%;
}

input {
    width: 85%;
    height: 40px;
    /* padding: 12px 20px; */
    margin: 8px 15px 15px;
    box-sizing: border-box;
    border: 2px solid #9bbabc;
    border-radius: 10px;
}

button  {
    background-color:#9bbabc;
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 5px;
    }

th {
    font-size: 14pt;
}

img {
    display: inline-block;
    margin: 0 auto;
    height: 100px;
    vertical-align: center;
}

.results {
    font-size: 12pt;
    font-weight: 100;
}

.library {
    padding: 50px;
    align-items: center;
    
}

.rowResults {
    font-size: 12pt;
    color: #555555;
    font-weight: 100;
}

.personalLibrary {
    color: #555555;
    text-align: center;
    font-size: 24pt;
    padding-top: 30px;
}

#searchBar {
    margin: auto;
    width: 85%;
}

#container {
    background-color: #9bbabc;
    text-align: center;
}